{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "importOrder": [
    "^(react/(.*)$)|^(react$)",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@repo/(.*)$",
    "",
    "^@/app/(.*)$",
    "^@/infrastructure/(.*)$",
    "^@/features/(.*)$",
    "^@/modules/(.*)$",
    "^@/shared/(.*)$",
    "^@/common/(.*)$",
    "",
    "^@/assets/(.*)$",
    "^@/public/(.*)$",
    "",
    "^[./]"
  ],
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
